streamlit
python-dotenv
google-generativeai==0.8.5
unstructured
langchain
sentence-transformers
numpy
torch
google==3.0.0
google-genai
"unstructured[pdf]"
"unstructured[eml]"
"unstructured[pptx]"
"unstructured[docx]"
"unstructured[md]"